body 

{
   
    font-family: Arial;
     background-color: rgb(184, 222, 235);   
       
}

h1{
  font-size: 100px;
    text-align: center;
    text-shadow: 2px 2px 5px red;
}
div {
    margin-left: 500px;
    margin-right: 500px;
    width: 700px;
    border: 11px solid green;
    padding: 50px;
    background-color: rgb(81, 196, 100);
  } 
